---
import CallToAction from '~/components/widgets/CallToAction.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight">All-in-One Websites</span>
    </Fragment>

    <Fragment slot="subtitle">
      Impact Web Studio started with a singular mission - to help business owners shift their energy away from the
      things they need to do but don't want to, towards the things that they want to do but don't have time for. As a
      team of technical and multi-disclipinary creatives, our focus is on designing and building websites that targets
      what the business needs first and foremost.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Our Standards"
    stats={[
      { title: 'PageSpeed Score', amount: '90+' },
      { title: 'Satification Guaranteed', amount: '100%' },
      { title: 'Load Times', amount: '<1s' },
      { title: 'Uptime', amount: '99.9%' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Websites"
    subtitle="Designed to be easy to use, simple to maintain, and focused on core business functions. Your website should be a digital marketing tool that runs 24/7 with a built-in system to help you run and grow your business efficiently."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Online Presence',
        description:
          'Get discovered. Having an online presence is essential for any business. Your potential clients are already looking for you - make it easier to be found.',
        icon: 'tabler:world-search',
      },
      {
        title: 'Admin Tasks on Autopilot',
        description:
          'Scheduling appointments, accepting payments, and managing your calendar are just a few of the tasks that can be automated with our websites.',
        icon: 'tabler:hours-24',
      },
      {
        title: 'Keep Your Clients Up-to-Date',
        description:
          'Each website comes with an integrated content management system so that you can always keep your clients up-to-date with the latest news and information about your business.',
        icon: 'tabler:info-circle',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Get an e-commerce store with built-in shipping integration, developed by certified Shopify experts.',
        icon: 'tabler:package-import',
      },
      {
        title: 'Branding',
        description:
          "Every website comes designed to fit the company's branding. We can also help you create a new brand identity from scratch.",
        icon: 'tabler:brand-apple-podcast',
      },
      {
        title: 'Software Integration',
        description:
          'Already using a specific software? We can help integrate it into your website and design a workflow that includes it.',
        icon: 'tabler:layout-grid-add',
      },
      {
        title: 'ERP Solutions',
        description:
          "We offer ERP analysis and implementation services designed and developed by certified industry professionals using Odoo's Suite of tools.",
        icon: 'tabler:replace',
      },
      {
        title: 'Support',
        description:
          'Every website comes with a 99.9% uptime guarantee and performance monitoring as well as a dedicated support line for direct contact with our team.',
        icon: 'tabler:headset',
      },
      {
        title: 'Onboarding & Training',
        description:
          'As part of our onboarding process, we will train you on how to use your website and the tools that come with it.',
        icon: 'tabler:list-check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="At Impact Web Studio, our values shape everything we do - from how we collaborate with clients to the solutions we deliver. We believe in building strong, lasting partnerships through trust, excellence, and continuous growth."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Your success is our success. We listen, adapt, and tailor solutions to your needs, ensuring your business gets a website that works for you — we believe that an all-in-one solution will always triumph over a one-size-fits-all solution.',
      },
      {
        title: 'Ethical and Transparent Practices',
        description:
          'We keep things simple: no hidden fees, no vague promises. Just honest work, clear communication, and solutions that genuinely benefit your business.',
      },
      {
        title: 'Collaborative Success',
        description:
          "We believe the best results come from working together. Whether it's clients, technology partners, or fellow developers, we prioritize collaboration over competition. By fostering a win-win environment, we ensure that every partnership leads to shared growth, innovation, and long-term success.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
      Ready to Create Your Ideal Site?<br class="block sm:hidden" />
    </Fragment>

    <Fragment slot="subtitle">
      Build a website that works as hard as you do with<br class="hidden md:inline" /> Impact Web Studio
    </Fragment>
  </CallToAction>
</Layout>
