---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Impact Web Studio Inc. | Built with Astrowind and Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:rocket',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Impact Web Studio Hero Image' }}
  >
    <Fragment slot="title">
      <p class="hidden xl:inline">Impact Web Studio</p>
      <p class="text-accent dark:text-white highlight">Where Design and Functionality Meets</p>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We help service-based businesses get more bookings, automate client interactions, and establish a strong online
        presence —
        <span class="font-semibold">without the large upfront costs.</span>
      </span>
      <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600">Impact Web Studio: Production-ready.</span> -->
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Top Quality"
    title="What You Get With Impact Web Studio"
    subtitle="Professional, high-performance websites for service providers. Built, managed, and optimized—all for a simple monthly fee."
    items={[
      {
        title: 'Mobile-First Design',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Fully Responsive',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'All-in-One Solution',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Satisfaction Guaranteed',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="What We Offer"
    title="Affordable Websites Packages"
    items={[
      {
        title: 'Responsive Design',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Full Website Development',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Website Hosting & Unlimited Edits',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        We offer websites starting at <span class="font-semibold text-primary">$0 down</span> and <span
          class="font-semibold text-primary">$175/month</span
        >
      </h3>
      Pay $0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing
      based on the scope of work, number of additional pages, and time involved. 12 month minimum contract.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Client Relationship Management (CRM) Systems',
        description: `All our websites come equipped with a CRM system to ensure your clients are managed effectively and efficiently. This includes a customer booking system, client database, and more.`,
      },
      {
        title: 'Accept Online Payments',
        description: 'Each website comes integrated with an online payment processor of your choice.',
      },
      {
        title: 'Google Business Profile Setup',
        description:
          "Showcase your company's legitimacy and credibility by setting up a Google Business Profile and making it easier for customers to find you.",
      },
      {
        title: 'Content Management System (CMS) Setup',
        description:
          'Every website comes with a CMS system that allows you to easily add content to your website, such as articles and blog posts, without needing to know how to code.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">More than just a website. Create a system that works for you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'E-commerce Integration',
        description:
          'Sell your products and services online with ease. We offer Shopify integrations with certified Shopify partners to ensure your integration and shop is set up correctly.',
      },
      {
        title: 'Workflow Automation and Improvements',
        description:
          'Reduce the amount of repetitve administrative tasks you do by automating them. We offer workflow automation solutions that integrate with your existing systems to ensure you never drop the ball.',
      },
      {
        title: 'ERP Solutions',
        description:
          'For larger businesses with more complex workflows, we offer ERP solutions to ensure your business runs smoothly and efficiently. We partner with certified ERP implementation partners to ensure your business is set up correctly.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">For growing businesses, we also offer:</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with Impact Web Studio."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Consult</span>',
        description:
          "We first start with a complete questionnaire to understand your business, your goals, and your vision. We'll then schedule a call to discuss your project in more detail.",
        icon: 'tabler:message-circle',
      },
      {
        title: 'Step 2: <span class="font-medium">Design</span>',
        description:
          "We'll create a custom design for your website that reflects your brand and your vision. We'll then send you a preview of the design for your feedback and approval.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Develop</span>',
        description:
          'Once approved, we will develop your website using the latest technologies and best practices. We will keep you updated throughout the process.',
        icon: 'tabler:code',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Deliberately Crafted for Service Providers"
    subtitle="We create websites specifically for service-based businesses. Whether you're a contractor, small business owners, or buying a new business.Make your life easier with a website that works for you so that you can focus on growing your business"
    tagline="Who It's For"
    items={[
      {
        title: 'Sports & Fitness',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:sports-mode',
      },
      {
        title: 'Beauty & Wellness',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'noto:barber-pole',
      },
      {
        title: 'Events & Entertainment',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:clapperboard',
      },
      {
        title: 'Coaches & Consultants',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Home & Trade Services',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'noto:house-with-garden',
      },
      {
        title: 'Pet Services',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'noto:paw-prints',
      },
      {
        title: 'Education',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'noto:books',
      },
      {
        title: 'Automotive & Repair Services',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'noto:automobile',
      },
      {
        title: 'Real Estate',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:department',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Latest News and Articles"
    information={`Learn more about the operation of Impact Web Studio in our blog. The blog is used to display some of the thought processes that take place behind the scenes. Each article aims to provide insight into the what, why, and hows of our business and services.`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle=`Dive into the following questions of some of our most common inquiries. If your question isn't answered below, please reach out directly to us.`
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Impact Web Studio?',
        description:
          "With so many web agencies out there, what makes Impact Web Studio different? We're a small team of dedicated professionals who are passionate about helping service-based businesses succeed. We do our best to understand the business needs, and build with the core of the business as the foundation to our work.",
      },
      {
        title: 'What do I need to start?',
        description:
          'To get started, we ask that clients prepare an email with a brief description of their business, their goals, and their vision for their website. We will then schedule a call to discuss the project in more detail.',
      },
      {
        title: 'What is your refund and cancellation policy?',
        description:
          "We offer a 100% satifaction guaranteed policy. If you're not happy with the design of the website, we will work with you to make it right. If you're still not happy, we will refund your money. We also offer a 30-day money back guarantee. If you're not happy with the website within the first 30 days, we will refund your money.",
      },
      {
        title: 'How exactly does the monthly plan work?',
        description:
          "Our monthly plans consist of $0 down and $175 per month with a 12 month minimum contract. The first month's payment goes towards the consultation and design work. We also offer other packages but this is our most popular and is to help businesses that are unable to afford to pay a large upfront cost for a website. We understand that sometimes it takes a bit of time to get traction going.",
      },
      {
        title: 'Do you offer custom packages?',
        description:
          'Our most popular package is the monthly subscription - designed to help businesses kickstart their digital renovations and should suffice for the majority of businesses. However, if you have specific requirements, get in touch with our team and we can create a custom package for you.',
      },
      {
        title: 'What exactly do I get once the project is completed?',
        description:
          'Upon project completion, you will walk away with a fully functional website, including hosting, website and email domain, and unlimited edits. You will also have access to a CRM system, online payment processor, Google Business Profile setup, and a CMS system. We also offer ongoing support and maintenance to ensure your website is always up-to-date and running smoothly.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'PageSpeed Score', amount: '90+' },
      { title: 'Satification Guaranteed', amount: '100%' },
      { title: 'Load Times', amount: '<1s' },
      { title: 'Uptime', amount: '99.9%' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
      Ready to Create Your Ideal Site?<br class="block sm:hidden" />
    </Fragment>

    <Fragment slot="subtitle">
      Build a website that works as hard as you do with<br class="hidden md:inline" /> Impact Web Studio
    </Fragment>
  </CallToAction>
</Layout>
