---
import Image from '~/components/common/Image.astro';
import { getHomePermalink } from '~/utils/permalinks';
import LogoDark from '~/assets/images/iws-logo.svg';
import LogoLight from '~/assets/images/iws-logo-white.svg';
---

<a
  class="inline-block font-bold text-xl h-fit w-fit"
  href={getHomePermalink()}
>
  <div class=`relative w-40 h-20 lg:w-60 lg:h-24`>
    <Image
      src={LogoDark}
      alt="Graphic logo for impact web studio"
      class="absolute inset-0 top-1/2 -translate-y-1/2 transition-opacity duration-300 dark:opacity-0 opacity-100 !object-contain"
      width={200}
      height={80}
    />
    <Image
      src={LogoLight}
      alt="Graphic logo for impact web studio"
      class="absolute inset-0 top-1/2 -translate-y-1/2 transition-opacity duration-300 dark:opacity-100 opacity-0 !object-contain"
      width={200}
      height={80}
    />
  </div>
</a>
